<?xml version="1.0"?>
<ruleset name="MatterWP Admin UI">
	<description>WordPress Coding Standards for the MatterWP Admin UI package.</description>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>
	<arg value="s"/>

	<file>src</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>dist/*</exclude-pattern>

	<config name="testVersion" value="7.3-"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid"/>
		<exclude name="Generic.Formatting.MultipleStatementAlignment"/>
		<exclude name="Generic.WhiteSpace.ScopeIndent"/>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="matterwp-admin-ui"/>
			</property>
		</properties>
	</rule>
</ruleset>
