// Color Variables
$color-white: #ffffff;
$color-black: #18181b;
$color-gray-50: oklch(98.5% 0 0deg);
$color-gray-100: oklch(96.7% 0.001 286.375deg);
$color-gray-200: oklch(93% 0.004 286.32deg);
$color-gray-300: oklch(87.1% 0.006 286.286deg);
$color-gray-400: oklch(70.5% 0.015 286.067deg);
$color-gray-500: oklch(55.2% 0.016 285.938deg);
$color-gray-600: oklch(44.2% 0.017 285.786deg);
$color-gray-700: oklch(37% 0.013 285.805deg);
$color-gray-800: oklch(27.4% 0.006 286.033deg);
$color-gray-850: oklch(22.5% 0.006 285.885deg);
$color-gray-900: oklch(21% 0.006 285.885deg);
$color-gray-950: oklch(14.1% 0.005 285.823deg);
$color-primary: rgb(56, 56, 56);
$color-primary-hover: #3d3d3d;
$color-green-900: #14532d;

// Tailwind Orange
$color-orange-50: #fff7ed;
$color-orange-100: #ffedd5;
$color-orange-200: #fed7aa;
$color-orange-300: #fdba74;
$color-orange-400: #fb923c;
$color-orange-500: #f97316;
$color-orange-600: #ea580c;
$color-orange-700: #c2410c;
$color-orange-800: #9a3412;
$color-orange-900: #7c2d12;
$color-orange-950: #431407;
