@use "./matterwp/variables" as *;
@use "./matterwp/tokens";
@use "./matterwp/header";
@use "./matterwp/navigation";
@use "./matterwp/components/index";
@use "./matterwp/notifications";

#mwp-settings,
.mwp-modal,
.mwp-lightbox {
	--mwp-ui-primary: #{$color-primary};
	--mwp-ui-primary-hover: #{$color-primary-hover};
	--mwp-ui-radius: 8px;
	--mwp-ui-border: #{$color-gray-200};
	--mwp-ui-bg: #{$color-white};

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  .code, code {
    font-family: monospace !important;
  }
}
